**/__pycache__
results/

# Jupyter Notebook
.ipynb_checkpoints

*.plan
*.tar.gz
trt_compile.sh
triton-serve-pt/
onnx-models/
.DS_Store
.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sagemaker-mme-gpu-benchmarking.iml
.idea/vcs.xml
